*
{
  margin:0;
  padding: 0;
}

body
{
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/*-----------Navbar------------*/

#nav-bar
{
  position: sticky;
  top:0;
  z-index:10;
}

.navbar
{
  background-image:linear-gradient(to right,#f0f3f3, #f0f3f3);
}
.navbar-brand img
{
  height:50px;
  padding-left: 20px;
}

#admin-btn
{
  margin-right: 3%;
}



.btnout{
    color:#48545b;
    background-color:#f8f9fa;
    border-color:#f8f9fa
}

.fa-sign-out-alt:before{
  margin-right: 7px;
  color:#c43826
}
.fa-user1:before {
    content: "\f007";
    margin-right: 7px;
    color: #c43826;
}
.fa-sign-in-alt:before {
    content: "\f2f6";
    margin-right: 7px;
    color:#c43826
}

.fa-user-plus:before {
    margin-right: 7px;
    color:#c43826
}
.btnlog
{
  color:#48545b
}
/*-----------WelcomeLogin------------*/

#banner
{
  background-color:#f0f3f3;
  color:#48545b;
  padding-top:5%
}
.banner-tittle
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-top: 92px;
}
.welcome-btn
{
  width: 45px;
  margin: 20px;
}

#banner a
{
  color: #c31900;
}


/*-----------BannerLogin------------*/

#banner_white
{
  background-color: #fff;
  color:#fff;
  padding-top:5%
}

.form
{
  background-color: #1e5dac;
  position: center;
}

.box_container
{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  position:relative;
  overflow: hidden;
  width: 1200px;
  max-width: 100%
}

.title
{
  font-size: 3.5rem;
  font-weight: 300;
}

.card-title
{
  color:#48545b;
}

.subtitle
{
  font-size: 1.2rem;
  font-weight: 300;
  color:#48545b;
}

.logform
{
  margin-top: 54px;
}

.allform
{
  margin-top: 30px;
}

.button1
{
  background-color: #de4242;
  border-color: #de4242;
}

.icon1
{
  background-color: #dee5f0;
  border-color: #dee5f0;
}

.border1
{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.log
{
  color:#9bb4be;
}

/*-----------AdminLandingCards------------*/

.box_container2
{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  position:relative;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  padding:25px;
}

.category_title
{
  color: #285078;
  font-size: 2.00rem;
}

.category_button
{
  background-color:#9bb4be;
  color:white;
  font-size: 1.4rem;
}

.category_text
{
  color:#717579;
}

.backgroundbanner
{
  background-image: linear-gradient(to right,#f0f3f3, #ffffff);
}

.banner-title2
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 37px;
  color:#48545b;
  padding-left: 15px;
}

.banner-subtitle2
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color:#48545b;
  padding-left: 15px;
}

/*-----------Tables------------*/

.table1
{
  color: white;
  background-color: #48545b;
}

.ancho
{
width: 94% !important
}

.margen
{
  margin-bottom:15px !important
}

.titleSection
{
  color:#48545b
}

.taskColor
{
  color: #285078
}

.searchColor
{
  color:#c43826
}


/*-----------Collapse------------*/

.collapseLogo
{
  color:#c31900
}
 .collapseTitle
 {
   color:#48545b
 }
 .collapseTitleBackground
 {
   color:#f0f3f3
 }

/*-----------Dashboard------------*/

.HeaderCard
{

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  color:#fff;
  padding: 3%;
}

.bodyCard
{
  background-color: #F0F3F3;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color:#48545B;
  padding:3%;
}

.bodyCardTitle
{
  padding-left: 14%;
}
.fa-ban:before {
    position:center;
    color:#ffffff;
    font-size: 3rem;
    padding:2%
}
.fa-calendar-times:before {
    position:center;
    color:#ffffff;
    font-size: 3rem;
    padding:2%
}

.fa-clock:before {
    position:center;
    color:#ffffff;
    font-size: 3rem;
    padding:2%
}

.fa-list-ol:before {
    position:center;
    color:#ffffff;
    font-size: 3rem;
    padding:2%
}

.redHead
{
  background-color:#cc0000;
}

.orangeHead
{
  background-color:#ff8800
}

.greenHead
{
  background-color:#007e33
}

.blueHead
{
  background-color:#0099cc
}

.bodyCardGraphic
{
  background-color: #F0F3F3;
  color:#48545B;

}

.box_container3
{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  position:relative;
  overflow: hidden;
  max-width: 700px;
  max-width: 100%;
  padding:5px;
}
.bodyCard2
{
  background-color: #F0F3F3;
  overflow: hidden;
}

.progress
{
  margin:1%
}

.box_container4
{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  position:relative;
  overflow: hidden;
  width: 1359px;
  max-width: 100%;
  padding:25px;
}
